# Entornos virtuales
venv/
env/
.env

# Archivos cacheados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de SO
.DS_Store
Thumbs.db

#Otros
data/output_frontend.txt
data/output_arbol.txt
data/output_matrices_qa.json